.container{
    border-color: grey;
    margin-bottom: 200px;
}
.card-footer {
    height: 60px !important;
}
.is-error {
    background-color: #F8D7DA;
}
.visible {
    display: block;
}

.no-visible {
    display: none;
}
.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    color: brown;
    display:none
    
}
.formulario__input-error-activo{
    display: block;

}
.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom:12px;
    font-size:16px;
    opacity: 0;
}
.form-group-correcto .formulario__validacion-estado {
 color:#1ed12d;
 opacity:1;
 position: absolute;
 right: 10px;
 bottom:12px;
 font-size:16px;
    
}
.form-group-incorrecto .form-control {
 color:brown;
}
.form-group-incorrecto .formulario__validacion-estado {
 color:brown;
 opacity: 1;
 position: absolute;
 bottom:30px;

}